nav{
  text-indent:10px;
  background-color: #AEA7C6;
  font-size: 120%;
}
h1 {
  color: #392F5A;
  font-size: 200%;
  font-weight: bold;
  text-align:center;
}
h2 {
  color: #392F5A;
  font-size: 200%;
  text-align:center;
  /* background-color: #392F5A; */
}
div.boxing{
  margin-top: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-indent: 20px;

  color: #392F5A;
  font-size: 200%;
  /* text-align:center; */
 }
 /* div.tb1{
  border-collapse: collapse;
  width: 300px;
  position: center;
 }
 */
th, td{
  padding:5px;
  border: solid 1px;
  border-spacing: 5px;
 }
 th{
  background-color: #AEA7C6;
 }
tr:nth-child(even){
  background-color: #f2f2f2;
}
table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
div.text{
  font-size:120%;
  position:absolute; 
  left:600px; 
  top:220px;
  white-space: nowrap;
  font-color: black;
  border-radius: 25px;
  border: 2px solid black;
  padding: 15px; 
  width: 400px;
  height: 140px;
}

