{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_book">View Books<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookAdd">Add Books</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Book List</h1>
{% if not emptyList %}
<body>
    {% for item in notReserved %}
      <div class=box>
        <p>Title: {{ item.title }}</p><p> Author: {{item.author}}</p>
        <p><a href="{{url_for('reserveBook', id = item.id)}}">Reserve Book</a></p>
        <p><a href="{{url_for('delBook', id = item.id)}}">Delete Book</a></p>
      </div>
    {% endfor %}
    {% for items in isReserved %}
      <div class=box>
        <p>RESERVED</p>
        <p>Title: {{ items.title }}</p><p> Author: {{items.author}}</p>
        <p><a href="{{url_for('unreserveBook', id = items.id)}}">Unreserve Book</a></p>
        <p><a href="{{url_for('delBook', id = items.id)}}">Delete Book</a></p>
      </div>
    {% endfor %}
</body>
{% endif %}
{% include "login_footer.html" %}
{% endblock %}
