{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">SJSUL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_book">View Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookAdd">Add Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_tech">View Tech<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/techAdd">Add Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delete">Delete Account</a>
      </li>
    </ul>
  </div>
</nav>
</br>
<h1>Tech List</h1>
<table>
  <thread>
    <tr>
      <th>Tech Name</th>
      <th>Description </th>
      <th>Max Rent Time</th>
      <th>Reserve Status</th>
      <th>Delete Tech</th>
    </tr>
  </thread>
  <tbody>
  {% if not emptyList %}
      {% for item in notReserved %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{item.info}}</td>
        <td>{{item.time}}</td>
          <td><a href="{{url_for('reserveTech', id = item.id)}}">Reserve Tech</a></td>
          <td><a href="{{url_for('delTech', id = item.id)}}">Delete Tech</a></td>
      </tr>
      {% endfor %}
  {% endif %}
  </tbody>
</table>
</br>
</br>
<h1>Reserved Tech List</h1>
<table>
  <thread>
    <tr>
      <th>Tech Name</th>
      <th>Description </th>
      <th>Max Rent Time</th>
      <th>Reserve Status</th>
      <th>Delete Tech</th>
    </tr>
  </thread>
  <tbody>
  {% if not emptyList %}
      {% for item in isReserved %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{item.info}}</td>
        <td>{{item.time}}</td>
        <td><a href="{{url_for('unreserveTech', id = item.id)}}">Unreserve Tech</a></td>
        <td><a href="{{url_for('delTech', id = item.id)}}">Delete Tech</a></td>
      </tr>
      {% endfor %}
  {% endif %}
  </tbody>
</table>

{% endblock %}
