{% extends "base.html" %}
{% block content %}
<h1>Are you sure you want to delete your account, {{ current_user.username }}?</h1>
<p>Please type your password into the textbox and press Confirm Account Deletion if you're sure you want to delete your account!</p>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>{{ form.password() }}</p>
    {%for error in form.password.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    <p>{{ form.confirm() }}</p>
</form>
<a href="{{ url_for('index') }}">Home Page</a>
{% endblock %}