{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">
</head>
<h1>Are you sure you want to delete your account, {{ current_user.username }}?</h1>
<div class = "text">
    <p>Please type your password to confirm that you want to delete your account</p>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>{{ form.password() }}</p>
        {%for error in form.password.errors%}
        <span style="color: red;"> [{{error}}]</span>
        {% endfor %}
        <p>{{ form.confirm() }}</p>
        <p>Don't want to delete your account? Head back to the home page </p>
        <p><a href="{{url_for('index')}}">Back to Home Page</a></p>
    </form> 
</div>
{% endblock %}