{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<div class ="container">
<div class ="text">
<h1>Create a New Account</h1>
<body> To register, please fill out the following fields below </body>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.reg_role.label}} <br>
      {{form.reg_role(size=32)}}

   {%for error in form.reg_role.errors%}
   <span style="color: red;"> [{{error}}]</span>
   {% endfor %}
   </p>
    <p> {{form.username.label}} <br>
       {{form.username(size=32)}}
   
    {%for error in form.username.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.email.label}} <br>
       {{form.email(size=32)}}
    {%for error in form.email.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.password.label}} <br>
       {{form.password(size=32)}}

    {%for error in form.password.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.confirm.label}} <br>
       {{form.confirm(size=32)}}
    {%for error in form.confirm.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>
    <body> Password can be up to 32 characters </body>
    <p>{{form.submit()}}</p>
    <body><br>
           Already have an account? No problem, sign in instead
    </body>
    <p>{{form.sign()}}</p>
    </div>
    </div>
</form>
{% endblock %}
